-- MariaDB dump 10.19  Distrib 10.4.28-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: wiet_library
-- ------------------------------------------------------
-- Server version	10.4.28-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activitylog`
--

DROP TABLE IF EXISTS `activitylog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activitylog` (
  `LogID` int(11) NOT NULL AUTO_INCREMENT,
  `UserID` int(11) DEFAULT NULL,
  `UserType` varchar(20) DEFAULT NULL,
  `Action` varchar(100) NOT NULL,
  `Details` text DEFAULT NULL,
  `IPAddress` varchar(45) DEFAULT NULL,
  `Timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`LogID`),
  KEY `idx_user` (`UserID`,`UserType`),
  KEY `idx_timestamp` (`Timestamp`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activitylog`
--

LOCK TABLES `activitylog` WRITE;
/*!40000 ALTER TABLE `activitylog` DISABLE KEYS */;
/*!40000 ALTER TABLE `activitylog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `AdminID` int(11) NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Email` varchar(100) NOT NULL,
  `Phone` varchar(15) DEFAULT NULL,
  `Role` varchar(50) DEFAULT 'Admin',
  `IsSuperAdmin` tinyint(1) DEFAULT 0,
  `Password` varchar(255) NOT NULL,
  `Status` varchar(20) DEFAULT 'Active',
  `CreatedDate` timestamp NOT NULL DEFAULT current_timestamp(),
  `LastLogin` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`AdminID`),
  UNIQUE KEY `Email` (`Email`),
  KEY `idx_email` (`Email`),
  KEY `idx_status` (`Status`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adminpermissions`
--

DROP TABLE IF EXISTS `adminpermissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `adminpermissions` (
  `PermissionID` int(11) NOT NULL AUTO_INCREMENT,
  `PermissionName` varchar(100) NOT NULL,
  `PermissionKey` varchar(50) NOT NULL,
  `Description` text DEFAULT NULL,
  `Category` varchar(50) DEFAULT NULL,
  `CreatedDate` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`PermissionID`),
  UNIQUE KEY `PermissionName` (`PermissionName`),
  UNIQUE KEY `PermissionKey` (`PermissionKey`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adminpermissions`
--

LOCK TABLES `adminpermissions` WRITE;
/*!40000 ALTER TABLE `adminpermissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `adminpermissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adminroles`
--

DROP TABLE IF EXISTS `adminroles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `adminroles` (
  `RoleID` int(11) NOT NULL AUTO_INCREMENT,
  `RoleName` varchar(50) NOT NULL,
  `Description` text DEFAULT NULL,
  `CreatedDate` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`RoleID`),
  UNIQUE KEY `RoleName` (`RoleName`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adminroles`
--

LOCK TABLES `adminroles` WRITE;
/*!40000 ALTER TABLE `adminroles` DISABLE KEYS */;
INSERT INTO `adminroles` VALUES (1,'Super Admin','Full system access with all permissions','2025-10-26 09:29:38'),(2,'Librarian','Library operations: books, circulation, members','2025-10-26 09:29:38'),(3,'Assistant','Limited access: view only, issue/return books','2025-10-26 09:29:38'),(4,'Cataloger','Book management: add, edit, categorize books','2025-10-26 09:29:38'),(5,'Accountant','Financial operations: fines, reports','2025-10-26 09:29:38');
/*!40000 ALTER TABLE `adminroles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `backuphistory`
--

DROP TABLE IF EXISTS `backuphistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `backuphistory` (
  `BackupID` int(11) NOT NULL AUTO_INCREMENT,
  `FileName` varchar(255) NOT NULL,
  `FileSize` bigint(20) DEFAULT 0,
  `BackupType` enum('full','structure','data','custom','restore') NOT NULL,
  `Description` text DEFAULT NULL,
  `CreatedBy` int(11) DEFAULT NULL,
  `CreatedAt` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`BackupID`),
  KEY `CreatedBy` (`CreatedBy`),
  KEY `idx_created_at` (`CreatedAt`),
  KEY `idx_backup_type` (`BackupType`),
  CONSTRAINT `backuphistory_ibfk_1` FOREIGN KEY (`CreatedBy`) REFERENCES `admin` (`AdminID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `backuphistory`
--

LOCK TABLES `backuphistory` WRITE;
/*!40000 ALTER TABLE `backuphistory` DISABLE KEYS */;
INSERT INTO `backuphistory` VALUES (1,'backup_full_2025-10-26_09-00-00.sql',73379,'full','Test backup',1,'2025-10-26 13:30:01'),(7,'backup_data_2025-10-28_10-14-09.sql',55601,'data','',1,'2025-10-28 14:44:11'),(8,'backup_data_2025-11-04_07-39-13.sql',78519,'data','',1,'2025-11-04 12:09:22'),(9,'backup_full_2026-02-25_17-16-59.sql.zip',22911,'full','',1,'2026-02-25 21:47:00'),(10,'backup_full_2026-02-25_17-17-39.sql.zip',22924,'full','',1,'2026-02-25 21:47:40');
/*!40000 ALTER TABLE `backuphistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookrequests`
--

DROP TABLE IF EXISTS `bookrequests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookrequests` (
  `RequestID` int(11) NOT NULL AUTO_INCREMENT,
  `MemberNo` int(11) NOT NULL,
  `Title` varchar(255) NOT NULL,
  `Author` varchar(100) DEFAULT NULL,
  `Publisher` varchar(100) DEFAULT NULL,
  `ISBN` varchar(20) DEFAULT NULL,
  `Reason` text DEFAULT NULL,
  `Status` varchar(20) DEFAULT 'Pending',
  `RequestDate` date DEFAULT NULL,
  `ResponseDate` date DEFAULT NULL,
  `ResponseBy` int(11) DEFAULT NULL,
  `Response` text DEFAULT NULL,
  PRIMARY KEY (`RequestID`),
  KEY `ResponseBy` (`ResponseBy`),
  KEY `idx_status` (`Status`),
  KEY `idx_member` (`MemberNo`),
  CONSTRAINT `bookrequests_ibfk_1` FOREIGN KEY (`MemberNo`) REFERENCES `member` (`MemberNo`) ON DELETE CASCADE,
  CONSTRAINT `bookrequests_ibfk_2` FOREIGN KEY (`ResponseBy`) REFERENCES `admin` (`AdminID`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookrequests`
--

LOCK TABLES `bookrequests` WRITE;
/*!40000 ALTER TABLE `bookrequests` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookrequests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `books`
--

DROP TABLE IF EXISTS `books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `books` (
  `CatNo` int(11) NOT NULL AUTO_INCREMENT,
  `Title` varchar(255) NOT NULL,
  `SubTitle` varchar(255) DEFAULT NULL,
  `VarTitle` varchar(255) DEFAULT NULL,
  `Author1` varchar(100) DEFAULT NULL,
  `Author2` varchar(100) DEFAULT NULL,
  `Author3` varchar(100) DEFAULT NULL,
  `CorpAuthor` varchar(100) DEFAULT NULL,
  `Editors` varchar(100) DEFAULT NULL,
  `Publisher` varchar(100) DEFAULT NULL,
  `Place` varchar(100) DEFAULT NULL,
  `Year` int(11) DEFAULT NULL,
  `Edition` varchar(50) DEFAULT NULL,
  `Vol` varchar(20) DEFAULT NULL,
  `Pages` varchar(20) DEFAULT NULL,
  `ISBN` varchar(20) DEFAULT NULL,
  `Subject` varchar(100) DEFAULT NULL,
  `Keywords` text DEFAULT NULL,
  `Language` varchar(50) DEFAULT 'English',
  `Format` varchar(50) DEFAULT NULL,
  `DocumentType` varchar(10) DEFAULT 'BK',
  `Country` varchar(50) DEFAULT NULL,
  `BillNo` varchar(50) DEFAULT NULL,
  `BillDate` date DEFAULT NULL,
  `Currency` varchar(10) DEFAULT 'INR',
  `ItemPrice` decimal(10,2) DEFAULT NULL,
  `ItemCost` decimal(10,2) DEFAULT NULL,
  `Source` varchar(100) DEFAULT NULL,
  `ModeOfAcquisition` varchar(50) DEFAULT NULL,
  `DateAdded` timestamp NOT NULL DEFAULT current_timestamp(),
  `CreatedBy` int(11) DEFAULT NULL,
  `Barcode` blob DEFAULT NULL,
  `QRCode` blob DEFAULT NULL,
  `QrCodeImg` longblob DEFAULT NULL,
  PRIMARY KEY (`CatNo`),
  KEY `CreatedBy` (`CreatedBy`),
  KEY `idx_title` (`Title`),
  KEY `idx_author` (`Author1`),
  KEY `idx_subject` (`Subject`),
  KEY `idx_isbn` (`ISBN`),
  FULLTEXT KEY `idx_search` (`Title`,`Author1`,`Author2`,`Subject`,`Keywords`),
  CONSTRAINT `books_ibfk_1` FOREIGN KEY (`CreatedBy`) REFERENCES `admin` (`AdminID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=10165 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `books`
--

LOCK TABLES `books` WRITE;
/*!40000 ALTER TABLE `books` DISABLE KEYS */;
/*!40000 ALTER TABLE `books` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `circulation`
--

DROP TABLE IF EXISTS `circulation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `circulation` (
  `CirculationID` int(11) NOT NULL AUTO_INCREMENT,
  `MemberNo` int(11) NOT NULL,
  `AccNo` varchar(20) NOT NULL,
  `IssueDate` date NOT NULL,
  `IssueTime` time DEFAULT NULL,
  `DueDate` date NOT NULL,
  `RenewalCount` int(11) DEFAULT 0,
  `Status` varchar(20) DEFAULT 'Active',
  `DateAdded` timestamp NOT NULL DEFAULT current_timestamp(),
  `CreatedBy` int(11) DEFAULT NULL,
  PRIMARY KEY (`CirculationID`),
  KEY `CreatedBy` (`CreatedBy`),
  KEY `idx_member` (`MemberNo`),
  KEY `idx_accno` (`AccNo`),
  KEY `idx_status` (`Status`),
  KEY `idx_duedate` (`DueDate`),
  KEY `idx_issuedate` (`IssueDate`),
  CONSTRAINT `circulation_ibfk_1` FOREIGN KEY (`MemberNo`) REFERENCES `member` (`MemberNo`),
  CONSTRAINT `circulation_ibfk_2` FOREIGN KEY (`AccNo`) REFERENCES `holding` (`AccNo`),
  CONSTRAINT `circulation_ibfk_3` FOREIGN KEY (`CreatedBy`) REFERENCES `admin` (`AdminID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `circulation`
--

LOCK TABLES `circulation` WRITE;
/*!40000 ALTER TABLE `circulation` DISABLE KEYS */;
INSERT INTO `circulation` VALUES (1,2511,'BE9060','2025-10-25','15:49:16','2025-11-09',0,'Active','2025-10-25 13:49:16',NULL),(2,2511,'BE9056','2025-10-28','10:11:37','2025-11-12',0,'Returned','2025-10-28 09:11:37',1),(3,2512,'BE8961','2025-11-04','10:30:42','2025-11-19',0,'Returned','2025-11-04 09:30:42',1),(4,25143,'BE8961','2026-02-26','18:26:09','2026-03-13',0,'Returned','2026-02-26 17:26:09',1),(5,25143,'BE8961','2026-02-27','14:49:01','2026-03-14',0,'Returned','2026-02-27 13:49:01',1),(6,25143,'BE8961','2026-02-27','15:05:21','2026-03-14',0,'Active','2026-02-27 14:05:21',1);
/*!40000 ALTER TABLE `circulation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_registrations`
--

DROP TABLE IF EXISTS `event_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `event_registrations` (
  `RegistrationID` int(11) NOT NULL AUTO_INCREMENT,
  `EventID` int(11) NOT NULL,
  `MemberNo` int(11) NOT NULL,
  `MemberName` varchar(255) NOT NULL,
  `Email` varchar(255) DEFAULT NULL,
  `Phone` varchar(20) DEFAULT NULL,
  `RegistrationDate` datetime NOT NULL,
  `Status` varchar(20) DEFAULT 'Confirmed',
  `AttendanceStatus` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`RegistrationID`),
  KEY `EventID` (`EventID`),
  CONSTRAINT `event_registrations_ibfk_1` FOREIGN KEY (`EventID`) REFERENCES `library_events` (`EventID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_registrations`
--

LOCK TABLES `event_registrations` WRITE;
/*!40000 ALTER TABLE `event_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `event_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty`
--

DROP TABLE IF EXISTS `faculty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faculty` (
  `FacultyID` int(11) NOT NULL AUTO_INCREMENT,
  `MemberNo` int(11) NOT NULL,
  `EmployeeID` varchar(20) DEFAULT NULL,
  `Department` varchar(100) DEFAULT NULL,
  `Designation` varchar(100) DEFAULT NULL,
  `JoinDate` date DEFAULT NULL,
  `Mobile` varchar(15) DEFAULT NULL,
  `Email` varchar(100) DEFAULT NULL,
  `Address` text DEFAULT NULL,
  PRIMARY KEY (`FacultyID`),
  UNIQUE KEY `EmployeeID` (`EmployeeID`),
  KEY `MemberNo` (`MemberNo`),
  KEY `idx_empid` (`EmployeeID`),
  KEY `idx_dept` (`Department`),
  CONSTRAINT `faculty_ibfk_1` FOREIGN KEY (`MemberNo`) REFERENCES `member` (`MemberNo`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty`
--

LOCK TABLES `faculty` WRITE;
/*!40000 ALTER TABLE `faculty` DISABLE KEYS */;
/*!40000 ALTER TABLE `faculty` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `finepayments`
--

DROP TABLE IF EXISTS `finepayments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `finepayments` (
  `PaymentID` int(11) NOT NULL AUTO_INCREMENT,
  `CirculationID` int(11) NOT NULL,
  `MemberNo` int(11) NOT NULL,
  `FineAmount` decimal(10,2) NOT NULL,
  `PaidAmount` decimal(10,2) NOT NULL,
  `PaymentDate` datetime DEFAULT current_timestamp(),
  `PaymentMethod` varchar(50) DEFAULT NULL,
  `ReceiptNo` varchar(50) DEFAULT NULL,
  `CollectedBy` int(11) DEFAULT NULL,
  `Remarks` text DEFAULT NULL,
  `CreatedAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`PaymentID`),
  UNIQUE KEY `ReceiptNo` (`ReceiptNo`),
  KEY `CollectedBy` (`CollectedBy`),
  KEY `idx_circulation` (`CirculationID`),
  KEY `idx_member` (`MemberNo`),
  KEY `idx_date` (`PaymentDate`),
  KEY `idx_receipt` (`ReceiptNo`),
  CONSTRAINT `finepayments_ibfk_1` FOREIGN KEY (`CirculationID`) REFERENCES `circulation` (`CirculationID`) ON DELETE CASCADE,
  CONSTRAINT `finepayments_ibfk_2` FOREIGN KEY (`MemberNo`) REFERENCES `member` (`MemberNo`),
  CONSTRAINT `finepayments_ibfk_3` FOREIGN KEY (`CollectedBy`) REFERENCES `admin` (`AdminID`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `finepayments`
--

LOCK TABLES `finepayments` WRITE;
/*!40000 ALTER TABLE `finepayments` DISABLE KEYS */;
/*!40000 ALTER TABLE `finepayments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `footfall`
--

DROP TABLE IF EXISTS `footfall`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `footfall` (
  `FootfallID` int(11) NOT NULL AUTO_INCREMENT,
  `MemberNo` int(11) NOT NULL,
  `Date` date NOT NULL,
  `TimeIn` time NOT NULL,
  `TimeOut` time DEFAULT NULL,
  `Duration` int(11) DEFAULT NULL,
  `EntryTime` datetime DEFAULT NULL COMMENT 'Entry timestamp with date and time',
  `ExitTime` datetime DEFAULT NULL COMMENT 'Exit timestamp with date and time',
  `Purpose` varchar(100) DEFAULT 'Library Visit' COMMENT 'Purpose of visit',
  `Status` varchar(20) DEFAULT 'Active' COMMENT 'Active or Completed',
  `EntryMethod` varchar(50) DEFAULT 'Manual' COMMENT 'Manual, QR Scan, Card Scan',
  `WorkstationUsed` varchar(50) DEFAULT NULL COMMENT 'Computer/workstation if applicable',
  PRIMARY KEY (`FootfallID`),
  KEY `idx_date` (`Date`),
  KEY `idx_member` (`MemberNo`),
  KEY `idx_member_date` (`MemberNo`,`Date`),
  KEY `idx_entry_time` (`EntryTime`),
  KEY `idx_status` (`Status`),
  KEY `idx_entry_method` (`EntryMethod`),
  CONSTRAINT `footfall_ibfk_1` FOREIGN KEY (`MemberNo`) REFERENCES `member` (`MemberNo`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `footfall`
--

LOCK TABLES `footfall` WRITE;
/*!40000 ALTER TABLE `footfall` DISABLE KEYS */;
/*!40000 ALTER TABLE `footfall` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `footfalldailystats`
--

DROP TABLE IF EXISTS `footfalldailystats`;
/*!50001 DROP VIEW IF EXISTS `footfalldailystats`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `footfalldailystats` AS SELECT
 1 AS `visit_date`,
  1 AS `unique_visitors`,
  1 AS `total_visits`,
  1 AS `avg_duration` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `footfallhourlystats`
--

DROP TABLE IF EXISTS `footfallhourlystats`;
/*!50001 DROP VIEW IF EXISTS `footfallhourlystats`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `footfallhourlystats` AS SELECT
 1 AS `visit_date`,
  1 AS `visit_hour`,
  1 AS `visits`,
  1 AS `unique_visitors` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `holding`
--

DROP TABLE IF EXISTS `holding`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `holding` (
  `HoldID` int(11) NOT NULL AUTO_INCREMENT,
  `AccNo` varchar(20) NOT NULL,
  `CatNo` int(11) NOT NULL,
  `CopyNo` int(11) DEFAULT 1,
  `BookNo` varchar(20) DEFAULT NULL,
  `AccDate` date DEFAULT NULL,
  `ClassNo` varchar(50) DEFAULT NULL,
  `Status` varchar(20) DEFAULT 'Available',
  `Location` varchar(100) DEFAULT NULL,
  `Section` varchar(50) DEFAULT NULL,
  `Collection` varchar(50) DEFAULT NULL,
  `BarCode` blob DEFAULT NULL,
  `Binding` varchar(50) DEFAULT NULL,
  `Condition` varchar(50) DEFAULT 'Good',
  `Remarks` text DEFAULT NULL,
  `DateAdded` timestamp NOT NULL DEFAULT current_timestamp(),
  `QrCodeImg` longblob DEFAULT NULL,
  `QRCode` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`HoldID`),
  UNIQUE KEY `AccNo` (`AccNo`),
  KEY `idx_accno` (`AccNo`),
  KEY `idx_status` (`Status`),
  KEY `idx_catno` (`CatNo`),
  KEY `idx_location` (`Location`),
  CONSTRAINT `holding_ibfk_1` FOREIGN KEY (`CatNo`) REFERENCES `books` (`CatNo`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1265 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holding`
--

LOCK TABLES `holding` WRITE;
/*!40000 ALTER TABLE `holding` DISABLE KEYS */;
/*!40000 ALTER TABLE `holding` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `library_events`
--

DROP TABLE IF EXISTS `library_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `library_events` (
  `EventID` int(11) NOT NULL AUTO_INCREMENT,
  `EventTitle` varchar(255) NOT NULL,
  `EventType` varchar(50) NOT NULL,
  `Description` text DEFAULT NULL,
  `StartDate` date NOT NULL,
  `EndDate` date NOT NULL,
  `StartTime` time NOT NULL,
  `EndTime` time NOT NULL,
  `Venue` varchar(255) NOT NULL,
  `Capacity` int(11) DEFAULT 0,
  `Status` varchar(20) DEFAULT 'Upcoming',
  `OrganizedBy` varchar(255) DEFAULT NULL,
  `ContactPerson` varchar(255) DEFAULT NULL,
  `ContactEmail` varchar(255) DEFAULT NULL,
  `ContactPhone` varchar(20) DEFAULT NULL,
  `RegistrationRequired` tinyint(1) DEFAULT 0,
  `RegistrationDeadline` date DEFAULT NULL,
  `EventImage` varchar(255) DEFAULT NULL,
  `CreatedBy` int(11) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifiedBy` int(11) DEFAULT NULL,
  `ModifiedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`EventID`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `library_events`
--

LOCK TABLES `library_events` WRITE;
/*!40000 ALTER TABLE `library_events` DISABLE KEYS */;
INSERT INTO `library_events` VALUES (1,'Book Reading Marathon','Seminar','Join us for a fun book reading marathon with prizes for top readers.','2025-11-10','2025-11-10','10:00:00','16:00:00','Library Main Hall',100,'Upcoming','Library Committee','Amit Sharma','amit.sharma@wiet.edu','9876543212',1,'2025-11-08',NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `library_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `libraryevents`
--

DROP TABLE IF EXISTS `libraryevents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `libraryevents` (
  `EventID` int(11) NOT NULL AUTO_INCREMENT,
  `Title` varchar(255) NOT NULL,
  `Description` text DEFAULT NULL,
  `EventDate` date NOT NULL,
  `EventTime` time DEFAULT NULL,
  `Location` varchar(100) DEFAULT NULL,
  `Organizer` varchar(100) DEFAULT NULL,
  `TargetAudience` varchar(50) DEFAULT NULL,
  `Status` varchar(20) DEFAULT 'Upcoming',
  `CreatedBy` int(11) DEFAULT NULL,
  `CreatedDate` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`EventID`),
  KEY `CreatedBy` (`CreatedBy`),
  KEY `idx_date` (`EventDate`),
  KEY `idx_status` (`Status`),
  CONSTRAINT `libraryevents_ibfk_1` FOREIGN KEY (`CreatedBy`) REFERENCES `admin` (`AdminID`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `libraryevents`
--

LOCK TABLES `libraryevents` WRITE;
/*!40000 ALTER TABLE `libraryevents` DISABLE KEYS */;
/*!40000 ALTER TABLE `libraryevents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member`
--

DROP TABLE IF EXISTS `member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `member` (
  `MemberNo` int(11) NOT NULL,
  `MemberName` varchar(100) NOT NULL,
  `Group` varchar(50) DEFAULT NULL,
  `Designation` varchar(100) DEFAULT NULL,
  `Entitlement` varchar(50) DEFAULT NULL,
  `Phone` varchar(15) DEFAULT NULL,
  `Email` varchar(100) DEFAULT NULL,
  `FinePerDay` decimal(5,2) DEFAULT 2.00,
  `AdmissionDate` date DEFAULT NULL,
  `BooksIssued` int(11) DEFAULT 0,
  `ClosingDate` date DEFAULT NULL,
  `Status` varchar(20) DEFAULT 'Active',
  `DateAdded` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`MemberNo`),
  KEY `idx_name` (`MemberName`),
  KEY `idx_status` (`Status`),
  KEY `idx_group` (`Group`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member`
--

LOCK TABLES `member` WRITE;
/*!40000 ALTER TABLE `member` DISABLE KEYS */;
/*!40000 ALTER TABLE `member` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `memberfootfallsummary`
--

DROP TABLE IF EXISTS `memberfootfallsummary`;
/*!50001 DROP VIEW IF EXISTS `memberfootfallsummary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `memberfootfallsummary` AS SELECT
 1 AS `MemberNo`,
  1 AS `MemberName`,
  1 AS `total_visits`,
  1 AS `last_visit`,
  1 AS `avg_duration` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `NotificationID` int(11) NOT NULL AUTO_INCREMENT,
  `MemberNo` int(11) DEFAULT NULL,
  `Title` varchar(255) NOT NULL,
  `Message` text NOT NULL,
  `Type` varchar(50) DEFAULT NULL,
  `IsRead` tinyint(1) DEFAULT 0,
  `CreatedDate` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`NotificationID`),
  KEY `idx_member` (`MemberNo`),
  KEY `idx_read` (`IsRead`),
  KEY `idx_date` (`CreatedDate`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`MemberNo`) REFERENCES `member` (`MemberNo`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passwordresets`
--

DROP TABLE IF EXISTS `passwordresets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `passwordresets` (
  `ResetID` int(11) NOT NULL AUTO_INCREMENT,
  `MemberNo` int(11) NOT NULL,
  `Email` varchar(255) NOT NULL,
  `ResetToken` varchar(255) NOT NULL,
  `OTP` varchar(6) NOT NULL,
  `ExpiresAt` datetime NOT NULL,
  `IsUsed` tinyint(1) DEFAULT 0,
  `UsedAt` datetime DEFAULT NULL,
  `CreatedAt` datetime DEFAULT current_timestamp(),
  `IPAddress` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`ResetID`),
  KEY `idx_token` (`ResetToken`),
  KEY `idx_email` (`Email`),
  KEY `idx_expires` (`ExpiresAt`),
  KEY `idx_member` (`MemberNo`),
  CONSTRAINT `passwordresets_ibfk_1` FOREIGN KEY (`MemberNo`) REFERENCES `member` (`MemberNo`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passwordresets`
--

LOCK TABLES `passwordresets` WRITE;
/*!40000 ALTER TABLE `passwordresets` DISABLE KEYS */;
/*!40000 ALTER TABLE `passwordresets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `passwordresetstats`
--

DROP TABLE IF EXISTS `passwordresetstats`;
/*!50001 DROP VIEW IF EXISTS `passwordresetstats`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `passwordresetstats` AS SELECT
 1 AS `ResetDate`,
  1 AS `TotalRequests`,
  1 AS `CompletedResets`,
  1 AS `ExpiredTokens`,
  1 AS `PendingResets` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `recommendations`
--

DROP TABLE IF EXISTS `recommendations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recommendations` (
  `RecID` int(11) NOT NULL AUTO_INCREMENT,
  `MemberNo` int(11) NOT NULL,
  `RecommendedBookID` int(11) NOT NULL,
  `Reason` text DEFAULT NULL,
  `Score` decimal(3,2) DEFAULT NULL,
  `DateRecommended` date DEFAULT NULL,
  PRIMARY KEY (`RecID`),
  KEY `RecommendedBookID` (`RecommendedBookID`),
  KEY `idx_member` (`MemberNo`),
  CONSTRAINT `recommendations_ibfk_1` FOREIGN KEY (`MemberNo`) REFERENCES `member` (`MemberNo`) ON DELETE CASCADE,
  CONSTRAINT `recommendations_ibfk_2` FOREIGN KEY (`RecommendedBookID`) REFERENCES `books` (`CatNo`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recommendations`
--

LOCK TABLES `recommendations` WRITE;
/*!40000 ALTER TABLE `recommendations` DISABLE KEYS */;
/*!40000 ALTER TABLE `recommendations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `return`
--

DROP TABLE IF EXISTS `return`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `return` (
  `ReturnID` int(11) NOT NULL AUTO_INCREMENT,
  `CirculationID` int(11) NOT NULL,
  `MemberNo` int(11) NOT NULL,
  `AccNo` varchar(20) NOT NULL,
  `ReturnDate` date NOT NULL,
  `ReturnTime` time DEFAULT NULL,
  `FineAmount` decimal(10,2) DEFAULT 0.00,
  `FinePaid` decimal(10,2) DEFAULT 0.00,
  `Condition` varchar(50) DEFAULT 'Good',
  `Remarks` text DEFAULT NULL,
  `DateAdded` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ReturnID`),
  KEY `idx_return_date` (`ReturnDate`),
  KEY `idx_member` (`MemberNo`),
  KEY `idx_circulation` (`CirculationID`),
  CONSTRAINT `return_ibfk_1` FOREIGN KEY (`CirculationID`) REFERENCES `circulation` (`CirculationID`) ON DELETE CASCADE,
  CONSTRAINT `return_ibfk_2` FOREIGN KEY (`MemberNo`) REFERENCES `member` (`MemberNo`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `return`
--

LOCK TABLES `return` WRITE;
/*!40000 ALTER TABLE `return` DISABLE KEYS */;
INSERT INTO `return` VALUES (1,3,2512,'BE8961','2025-11-04','10:38:34',0.00,0.00,'Good','','2025-11-04 09:38:34'),(2,2,2511,'BE9056','2025-11-04','11:22:00',0.00,0.00,'Good','N/A','2025-11-04 10:22:00'),(3,4,25143,'BE8961','2026-02-27','14:42:49',0.00,0.00,'Good','','2026-02-27 13:42:49'),(4,5,25143,'BE8961','2026-02-27','15:02:38',0.00,0.00,'Good','','2026-02-27 14:02:38');
/*!40000 ALTER TABLE `return` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rolepermissions`
--

DROP TABLE IF EXISTS `rolepermissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rolepermissions` (
  `RolePermissionID` int(11) NOT NULL AUTO_INCREMENT,
  `RoleID` int(11) NOT NULL,
  `PermissionID` int(11) NOT NULL,
  `CreatedDate` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`RolePermissionID`),
  UNIQUE KEY `unique_role_permission` (`RoleID`,`PermissionID`),
  KEY `PermissionID` (`PermissionID`),
  CONSTRAINT `rolepermissions_ibfk_1` FOREIGN KEY (`RoleID`) REFERENCES `adminroles` (`RoleID`) ON DELETE CASCADE,
  CONSTRAINT `rolepermissions_ibfk_2` FOREIGN KEY (`PermissionID`) REFERENCES `adminpermissions` (`PermissionID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=137 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rolepermissions`
--

LOCK TABLES `rolepermissions` WRITE;
/*!40000 ALTER TABLE `rolepermissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `rolepermissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `SettingID` int(11) NOT NULL AUTO_INCREMENT,
  `SettingKey` varchar(100) NOT NULL,
  `SettingValue` text DEFAULT NULL,
  `Description` varchar(255) DEFAULT NULL,
  `UpdatedBy` int(11) DEFAULT NULL,
  `UpdatedAt` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`SettingID`),
  UNIQUE KEY `SettingKey` (`SettingKey`),
  KEY `UpdatedBy` (`UpdatedBy`),
  KEY `idx_key` (`SettingKey`),
  CONSTRAINT `settings_ibfk_1` FOREIGN KEY (`UpdatedBy`) REFERENCES `admin` (`AdminID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES (1,'auto_backup_settings','{\"enabled\":\"0\",\"frequency\":\"daily\",\"time\":\"02:00\",\"retention\":30,\"email\":\"\"}','Auto backup configuration settings',NULL,'2025-10-26 07:24:23');
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student` (
  `StudentID` int(11) NOT NULL AUTO_INCREMENT,
  `MemberNo` int(11) NOT NULL,
  `Photo` blob DEFAULT NULL,
  `Surname` varchar(50) DEFAULT NULL,
  `MiddleName` varchar(50) DEFAULT NULL,
  `FirstName` varchar(50) DEFAULT NULL,
  `DOB` date DEFAULT NULL,
  `Gender` varchar(10) DEFAULT NULL,
  `BloodGroup` varchar(5) DEFAULT NULL,
  `Branch` varchar(100) DEFAULT NULL,
  `CourseName` varchar(100) DEFAULT NULL,
  `ValidTill` date DEFAULT NULL,
  `PRN` varchar(20) DEFAULT NULL,
  `Mobile` varchar(15) DEFAULT NULL,
  `Email` varchar(100) DEFAULT NULL,
  `Address` text DEFAULT NULL,
  `CardColour` varchar(20) DEFAULT NULL,
  `QRCode` varchar(255) DEFAULT NULL,
  `Password` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`StudentID`),
  UNIQUE KEY `PRN` (`PRN`),
  KEY `MemberNo` (`MemberNo`),
  KEY `idx_prn` (`PRN`),
  KEY `idx_branch` (`Branch`),
  CONSTRAINT `student_ibfk_1` FOREIGN KEY (`MemberNo`) REFERENCES `member` (`MemberNo`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_active_circulations`
--

DROP TABLE IF EXISTS `v_active_circulations`;
/*!50001 DROP VIEW IF EXISTS `v_active_circulations`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_active_circulations` AS SELECT
 1 AS `CirculationID`,
  1 AS `MemberNo`,
  1 AS `MemberName`,
  1 AS `Phone`,
  1 AS `Email`,
  1 AS `AccNo`,
  1 AS `Title`,
  1 AS `Author1`,
  1 AS `IssueDate`,
  1 AS `DueDate`,
  1 AS `DaysOverdue`,
  1 AS `FineAmount` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_available_books`
--

DROP TABLE IF EXISTS `v_available_books`;
/*!50001 DROP VIEW IF EXISTS `v_available_books`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_available_books` AS SELECT
 1 AS `CatNo`,
  1 AS `Title`,
  1 AS `Author1`,
  1 AS `Author2`,
  1 AS `Publisher`,
  1 AS `Year`,
  1 AS `Edition`,
  1 AS `ISBN`,
  1 AS `Subject`,
  1 AS `TotalCopies`,
  1 AS `AvailableCopies`,
  1 AS `IssuedCopies` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_member_summary`
--

DROP TABLE IF EXISTS `v_member_summary`;
/*!50001 DROP VIEW IF EXISTS `v_member_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_member_summary` AS SELECT
 1 AS `MemberNo`,
  1 AS `MemberName`,
  1 AS `Group`,
  1 AS `Email`,
  1 AS `Phone`,
  1 AS `Status`,
  1 AS `BooksIssued`,
  1 AS `TotalBorrowings`,
  1 AS `TotalReturns`,
  1 AS `TotalFines`,
  1 AS `FinesPaid` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `footfalldailystats`
--

/*!50001 DROP VIEW IF EXISTS `footfalldailystats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `footfalldailystats` AS select cast(`footfall`.`EntryTime` as date) AS `visit_date`,count(distinct `footfall`.`MemberNo`) AS `unique_visitors`,count(0) AS `total_visits`,avg(timestampdiff(MINUTE,`footfall`.`EntryTime`,`footfall`.`ExitTime`)) AS `avg_duration` from `footfall` group by cast(`footfall`.`EntryTime` as date) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `footfallhourlystats`
--

/*!50001 DROP VIEW IF EXISTS `footfallhourlystats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `footfallhourlystats` AS select cast(`footfall`.`EntryTime` as date) AS `visit_date`,hour(`footfall`.`EntryTime`) AS `visit_hour`,count(0) AS `visits`,count(distinct `footfall`.`MemberNo`) AS `unique_visitors` from `footfall` group by cast(`footfall`.`EntryTime` as date),hour(`footfall`.`EntryTime`) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `memberfootfallsummary`
--

/*!50001 DROP VIEW IF EXISTS `memberfootfallsummary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `memberfootfallsummary` AS select `m`.`MemberNo` AS `MemberNo`,`m`.`MemberName` AS `MemberName`,count(`f`.`FootfallID`) AS `total_visits`,max(`f`.`EntryTime`) AS `last_visit`,avg(timestampdiff(MINUTE,`f`.`EntryTime`,`f`.`ExitTime`)) AS `avg_duration` from (`member` `m` left join `footfall` `f` on(`m`.`MemberNo` = `f`.`MemberNo`)) group by `m`.`MemberNo`,`m`.`MemberName` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `passwordresetstats`
--

/*!50001 DROP VIEW IF EXISTS `passwordresetstats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `passwordresetstats` AS select cast(`passwordresets`.`CreatedAt` as date) AS `ResetDate`,count(0) AS `TotalRequests`,sum(case when `passwordresets`.`IsUsed` = 1 then 1 else 0 end) AS `CompletedResets`,sum(case when `passwordresets`.`IsUsed` = 0 and `passwordresets`.`ExpiresAt` < current_timestamp() then 1 else 0 end) AS `ExpiredTokens`,sum(case when `passwordresets`.`IsUsed` = 0 and `passwordresets`.`ExpiresAt` >= current_timestamp() then 1 else 0 end) AS `PendingResets` from `passwordresets` group by cast(`passwordresets`.`CreatedAt` as date) order by cast(`passwordresets`.`CreatedAt` as date) desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_active_circulations`
--

/*!50001 DROP VIEW IF EXISTS `v_active_circulations`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_active_circulations` AS select `c`.`CirculationID` AS `CirculationID`,`c`.`MemberNo` AS `MemberNo`,`m`.`MemberName` AS `MemberName`,`m`.`Phone` AS `Phone`,`m`.`Email` AS `Email`,`c`.`AccNo` AS `AccNo`,`b`.`Title` AS `Title`,`b`.`Author1` AS `Author1`,`c`.`IssueDate` AS `IssueDate`,`c`.`DueDate` AS `DueDate`,to_days(curdate()) - to_days(`c`.`DueDate`) AS `DaysOverdue`,case when curdate() > `c`.`DueDate` then (to_days(curdate()) - to_days(`c`.`DueDate`)) * `m`.`FinePerDay` else 0 end AS `FineAmount` from (((`circulation` `c` join `member` `m` on(`c`.`MemberNo` = `m`.`MemberNo`)) join `holding` `h` on(`c`.`AccNo` = `h`.`AccNo`)) join `books` `b` on(`h`.`CatNo` = `b`.`CatNo`)) where `c`.`Status` = 'Active' */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_available_books`
--

/*!50001 DROP VIEW IF EXISTS `v_available_books`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_available_books` AS select `b`.`CatNo` AS `CatNo`,`b`.`Title` AS `Title`,`b`.`Author1` AS `Author1`,`b`.`Author2` AS `Author2`,`b`.`Publisher` AS `Publisher`,`b`.`Year` AS `Year`,`b`.`Edition` AS `Edition`,`b`.`ISBN` AS `ISBN`,`b`.`Subject` AS `Subject`,count(`h`.`HoldID`) AS `TotalCopies`,sum(case when `h`.`Status` = 'Available' then 1 else 0 end) AS `AvailableCopies`,sum(case when `h`.`Status` = 'Issued' then 1 else 0 end) AS `IssuedCopies` from (`books` `b` left join `holding` `h` on(`b`.`CatNo` = `h`.`CatNo`)) group by `b`.`CatNo` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_member_summary`
--

/*!50001 DROP VIEW IF EXISTS `v_member_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_member_summary` AS select `m`.`MemberNo` AS `MemberNo`,`m`.`MemberName` AS `MemberName`,`m`.`Group` AS `Group`,`m`.`Email` AS `Email`,`m`.`Phone` AS `Phone`,`m`.`Status` AS `Status`,`m`.`BooksIssued` AS `BooksIssued`,count(distinct `c`.`CirculationID`) AS `TotalBorrowings`,count(distinct `r`.`ReturnID`) AS `TotalReturns`,coalesce(sum(`r`.`FineAmount`),0) AS `TotalFines`,coalesce(sum(`r`.`FinePaid`),0) AS `FinesPaid` from ((`member` `m` left join `circulation` `c` on(`m`.`MemberNo` = `c`.`MemberNo`)) left join `return` `r` on(`m`.`MemberNo` = `r`.`MemberNo`)) group by `m`.`MemberNo` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-01 22:27:21
